@page "/"
@using BlazorApp3.Shared.ViewModels
@inject HttpClient Http

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publication</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Publication</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<BookViewModel> books;

    protected override async Task OnInitializedAsync()
    {
        books = await Http.GetFromJsonAsync<List<BookViewModel>>("api/Books");
    }
}
